body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f0f0f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 50px;
}

.container {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  width: 350px;
  text-align: center;
}

h1, h2 {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  background: #2c2c2c;
  color: white;
}

button {
  width: 95%;
  padding: 12px;
  margin-top: 10px;
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ffaa00;
}

.icon-header {
  font-size: 40px;
  margin-bottom: 10px;
}
